/** {
	border: 1px solid red;
}*/

body {
	margin: 0px 0px;
	width: 100%;
}

.portada {
	width: 100%;
	height: 370px;
	margin-top: 0px;
	background-image: url(../imagenes/Portada_CorralesdeBuelna.png);
	background-size: cover;
}

.mediosSociales {
	background-color: #854D96;
    height: 40px;
    color: white;
    display: block;

}

.mediosSociales p {
	width: 30%;
    display: inline;
    position: absolute;
    font-size: 30px;
    right: 130px;
    top: -6px;
    font-family: 'Kalam', cursive;
    margin: 0px;
    text-align: end;
}

.mediosSociales img {
	float: right;
    margin: 5px;
}

.menu {
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
    height: 100px;
    top: 74px;
}

.menu li{
	width: 15%;
	list-style: none;
	margin: 0 auto;
	position: static;
}

.menu ul {
	display: flex;
	position: relative;
}

.menu a {
	text-decoration: none;
	font-size: 40px;
	color: white;
	margin: 0px 10px;
	position: absolute;
	top: 30px;
}

.historia  a:before {
	content: url(../iconos_menu/soccer-shoe.png);
	font-size: 30px;
	margin: 0 10px;
	bottom: 10px;
}

.jugadores  a:before {
	content: url(../iconos_menu/soccer-athlete.png);
	font-size: 30px;
	margin: 0 10px;
	bottom: 10px;
}

.galeria  a:before {
	content: url(../iconos_menu/galeria.png);
	font-size: 30px;
	margin: 0 10px;
	bottom: 10px;
}

.trofeos  a:before {
	content: url(../iconos_menu/trofeos.png);
	font-size: 30px;
	margin: 0 10px;
	bottom: 10px;
}

.historia a {
	left: 10px;
}

.jugadores a {
	left: 220px;
}

.galeria a {
	right: 250px;
}
.trofeos a {
	right: 25px;
}

.escudo {
	text-align: center;
	margin: 0 auto;
}

.escudo figure {
	top: -88px;
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.seccion {
	height: 700px;
	padding-bottom: 200px;
	
}

.contenedor {
	height: auto;
    width: auto;
    margin: 0px 0px 300px 0px;
    padding: 10px;
    background-color: rgba(88, 40, 44, 0.3);
    display: flex;

}

.barraContenido {
	width: 70%;
	background-color: lightblue;
	height: auto;
	border: 1px solid red;
}

.barraContenido figure {
	margin: 0px;
	padding: 5px;

}

.barraContenido img {
	width: 100%;


}

.barraNoticias {
	width: 28%;
    background-color: white;
    height: auto;
    border: 2px solid #854D96;
    display: block;
    position: absolute;
    right: 10px;
    text-align: center;

}

.cumpleaños {
	border: 1px solid red;
	height: auto;
	background-image: url('../imagenes/Estadio_cumpleaños.jpg');
	background-size: cover;
}

.cumpleaños img {
	height: 229px;
    
    
}

.cumpleaños h1 {
	color: yellow;
	font-size: 40px;
	margin: 10px 0px;
	font-family: 'Tillana', cursive;

}

.cumpleaños h3 {
	color: white;
	font
    font-size: 20px;
    margin: 10px 0;
    font-family: 'Michroma', sans-serif;
}